<footer>
    <p>Contact us: <a href="mailto:your-email@example.com">blessingmuhwezi@gmail.com</a></p>
    <p>&copy; 2024 BM Flights. All Rights Reserved.</p>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</footer>
</body>
</html>

