<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-container">
            <img src="/images/logo.png" alt="Travel Planner Logo" class="logo">
            <h1>BM Flights</h1>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/trips/dashboard">Dashboard</a>
            <a href="/trips/public">Explore Trips</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
</header>
