<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!--Bootstrap-->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- FontAwesome -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Custom Styles -->
    <title>BM FLIGHTS</title>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this item? This action cannot be undone.");
        }
    </script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo-container">
            <img src="/images/logo.png" alt="Travel Planner Logo" class="logo">
            <h1>BM FLIGHTS</h1>
        </div>
        <div class="nav-links">
            <a href="/"><i class="fas fa-home"></i> Home</a>
            <a href="/trips/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            <a href="/trips/public"><i class="fas fa-plane"></i> Explore Trips</a>
            <a href="/contact"><i class="fas fa-envelope"></i> Contact</a>
        </div>
    </nav>
</header>
